<h1>Editing Lcb Withdraw Financing Target Bid Item</h1>

<%= render 'form', lcb_withdraw_financing_target_bid_item: @lcb_withdraw_financing_target_bid_item %>

<%= link_to 'Show', @lcb_withdraw_financing_target_bid_item %> |
<%= link_to 'Back', lcb_withdraw_financing_target_bid_items_path %>
