<p id="notice"><%= notice %></p>

<p>
  <strong>Jobs:</strong>
</p>

<p>
  <strong>Command:</strong>
  <p>
  <strong>执行结果:</strong>
    <pre>  <%=@cmd%></pre>
</p>

<%= link_to 'Back', yunweis_path %>
