<h1>Editing Lcb Financing Target Position</h1>

<%= render 'form', lcb_financing_target_position: @lcb_financing_target_position %>

<%= link_to 'Show', @lcb_financing_target_position %> |
<%= link_to 'Back', lcb_financing_target_positions_path %>
