<html lang="zh-CN"><head>
<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
<meta charset="utf-8">
<title>来存吧</title>
<link type="text/css" rel="stylesheet" href="css/lcb_wx_common.css">
<style type="text/css">
body {
  padding: 0px;
  margin: 0px;
}

p {
  text-indent: 2em;
}

.backBar {
  
}

.backBar table {
  width: 100%;
  height: 50px;
  background-color: #FF7433;
  font-size: 20px;
}

.backBar table td {
  text-align: center;
  color: white;
}

.backBar a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 50px;
  color: white;
}

.tab1 {
  width: 100%;
  border-top: 1px solid #ddd;
}

.tab1 td {
  line-height: 40px;
  padding: 0px 10px 0px 10px;
}

.tab1 .td2 {
  text-align: right;
}

.c {
  font-size: 12px;
}
</style>
</head>
<body>
  
    <div class="backBar">
      <table>
        <tbody>
          <tr>
            <td style="width: 50px;"><a href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:43:07 CST 2016">〈</a></td>
            <td>关于我们</td>
            <td style="width: 50px;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  
  <div style="padding: 10px; display: none;">
    <p>杭州满溢网络科技有限公司成立于2015年7月，是一家专注于银行票据理财的互联网金融公司。公司旗下的互联网金融平台来存吧（laicunba.com），坚持透明、高效、规范的准则，致力于为用户提供安全、高收益的票据理财产品，帮助用户实现财富增值。</p>
    <video1 src="http://www.laicunba.com/rongchuang/h5/video/laicunba.mp4" controls="" preload="" style="width: 100%; margin: 0px auto;" poster="img/laicunba.png"></video1>
    <p>来存吧平台依托强大的数据分析系统，基于供应链金融交易，实现投资者（P）与机构（B）在线信息匹配，帮助投资者与机构实现投/融资价值。并帮助平台用户资产的稳步增值。平台项目覆盖普惠金融、股权投资、政府项目投资等业务，并着重于票据金融产品，资产包更加安全，到期100%银行承诺兑付，产品年化利率达到7%~15%，协调了风险与收益的平衡。</p>
    <p>来存吧平台创始人及核心团队均来自国内知名互联网公司及金融机构，在技术研发、金融产品、风险控制等方面拥有丰富的实战经验。并且引入多项战略合作，与相关政府机构、投资公司合作，实现平台的合法合规。</p>
    <p>来存吧风控团队独有的五重风控体系，层层把控，将对所有项目实行严格审核。拥有平台风险备用金机制，提供本息先行赔付。资金安全由银行和阳光保险担保，保障每一位投资人的权益。</p>
    <p>来存吧，为广大投资者打造一个透明、安全、健康、便捷的互联网金融平台。</p>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <img src="img/logo.png" style="width: 30%;">
  </div>
  <div class="c" style="text-align: center; line-height: 50px; color: gray;">【来存吧，票据理财专家】</div>
  <div class="c" style="border-bottom: 1px solid #ddd;">
    <table class="tab1">
      <tbody><tr>
        <td class="td1">网址</td>
        <td class="td2">www.laicunba.com</td>
      </tr>
    </tbody></table>
    <table class="tab1">
      <tbody><tr>
        <td class="td1">邮箱</td>
        <td class="td2">services@laicunba.com</td>
      </tr>
    </tbody></table>
    <table class="tab1">
      <tbody><tr>
        <td class="td1">电话</td>
        <td class="td2"><a href="tel://4006191520">400-6191-520(9:00~17:30)</a></td>
      </tr>
    </tbody></table>
    <table class="tab1">
      <tbody><tr>
        <td class="td1">问题反馈群</td>
        <td class="td2">473119359</td>
      </tr>
    </tbody></table>
    <table class="tab1">
      <tbody><tr>
        <td class="td1">微信服务号</td>
        <td class="td2">来存吧(微信号：laicunba)</td>
      </tr>
    </tbody></table>
    <table class="tab1">
      <tbody><tr>
        <td class="td1">公司名称</td>
        <td class="td2">杭州满溢网络科技有限公司</td>
      </tr>
    </tbody></table>
  </div>

</body></html>
