<html lang="zh-CN"><head>
<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
<meta charset="utf-8">
<title>来存吧</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<style type="text/css">
* {
  font-size: 1em;
  font-family: "微软雅黑"
}

.backBar {
  
}

.backBar table {
  width: 100%;
  height: 50px;
  background-color: #FF7433;
  font-size: 20px;
}

.backBar table td {
  text-align: center;
  color: white;
}

.backBar a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 50px;
  color: white;
}

.c1 {
  text-align: center;
}

.table1 {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.tr1 td {
  padding: 10px 0px 0px 10px;
}

.tr2 td {
  padding: 0px 0px 10px 10px;
  color: #ccc;
}

.a1 {
  
}
.splitLine{
  line-height: 50px;
  height: 50px;
  text-align: center;
  color: gray;
}
</style>
</head>
<body style="background-color: #eee;">
  
  <div class="backBar">
    <table>
      <tbody><tr>
        <td style="width: 50px;"><a href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:32:58 CST 2016">〈</a></td>
        <td>交易记录</td>
        <td style="width: 50px;"></td>
      </tr>
    </tbody></table>
  </div>
  
  <div class="c1">总交易笔数</div>
  <div class="c1" style="font-size: 30px; color: #FF7433">6</div>

        <div class="splitLine">未到期投资</div>
        <a class="a1" href="sui_cun_bao_balance_list.htm?expire=false&amp;device=&amp;app_token=">
          <table class="table1">
            <tbody><tr class="tr1">
              <td style="width: 200px; font-weight: bold;">随存宝</td>
              <td rowspan="2" style="color: #FF7433">5笔</td>
              <td rowspan="2" style="width: 30px;">〉</td>
            </tr>
            <tr class="tr2">
              <td>本金3004.66元
              </td> 
            </tr>
          </tbody></table>
        </a>
  
  <div class="splitLine">已到期投资</div>
  
        <a class="a1" href="cun_piao_bao_balance_list.htm?expire=true&amp;device=&amp;app_token=&amp;targetId=05b3c575-4663-42f3-bd9a-3ac7db75fc28">
          <table class="table1">
            <tbody><tr class="tr1">
              <td style="width: 200px; font-weight: bold;">银票宝-注册体验金8016</td>
              <td style="color: #FF7433">1笔</td>
              <td rowspan="2" style="width: 30px;">〉</td>
            </tr>
            <tr class="tr2">
              <td>本金18888.00元
              </td>
              <td>到账收益4.66元
              </td>
            </tr>
          </tbody></table>
        </a>

  
  
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    
  </script>

</body></html>
