<html lang="zh-CN"><head>
<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
<meta charset="utf-8">
<title>理财专区</title>
<link type="text/css" rel="stylesheet" href="css/lcb_wx_common.css">
<link type="text/css" rel="stylesheet" href="financial_zone.css">
<link type="text/css" rel="stylesheet" href="activity.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body style="background-color: #eee;">
  <div id="topLayout">
    <div>
      <a href="javascript:void(0);" style="background-color: #FF7433; color: #FFF;">理财产品</a>
    </div>
<!--    <div> -->
<!--      <a href="financial_advisor_list.htm?tab=zone" style="color: #FF7433;">理财顾问</a> -->
<!--    </div> -->
  </div>
  <div style="width: 100%; margin-bottom: 50px;">
    <div class="xl">
      <table>
        <tbody><tr>
          <td style="font-weight: bold; font-size: 20px;">随存随取系列</td>
          <td valign="middle"><img src="img/safe0.png" style="height: 20px; margin-top: 10px;"></td>
        </tr>
      </tbody></table>
    </div>
    
      
      
        <a class="a2Detail" href="financial_detail.htm?id=85c9a115-3385-4a33-9034-8daba384dca3&amp;_channel=weixin">
          <table class="table1" cellspacing="0" cellpadding="0" style="height:95px;">
<!--            <tr class="tr1"> -->


<!--            </tr> -->
            <tbody><tr class="tr2">
              <td>
                <div class="ico-scb"><img src="img/ico-scb.png"></div>
              </td>
              <td class="td1" style="text-align:center;">
                <div class="words" style="color:#ff5a2c;">随存随取</div>
                <div class="ratesTr">
                  <span class="rates">7.00</span>%
                </div>
                <div class="words">预期年化</div>
              </td>
<!--              <td class="td2" style="width: 34%"> -->
<!--                <div class="periodTr" style="font-size: 16px;">[随存随取]</div> -->
<!--                <div class="words" style="font-size: 12px;">提现 T+1天到账</div> -->
<!--              </td> -->
              <td class="progressTr" style="padding-right: 5px;">
              
                
                
                  <canvas percent="30.21" class="progress" width="200" height="200"></canvas>
                
              
              </td>
            </tr>
          </tbody></table>
        </a>
      
    

    <div class="xl">
      <table>
        <tbody><tr>
          <td style="font-weight: bold; font-size: 20px;">定期银行票据理财</td>
          <td valign="middle"><img src="img/safe1.png" style="height: 20px; margin-top: 10px;"></td>
        </tr>
      </tbody></table>
    </div>
    
      <a class="a2Detail " href="financial_detail.htm?id=a218edd1-bb7b-441d-8840-9628a2fc5b88&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60540

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="34.78" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=d07ec97b-08f5-4571-95c6-2c7de6ce01b0&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60548

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="27.33" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">8.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">15天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=60810f7e-14be-4a6c-ad78-a539afec0aa0&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60542

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="70.50" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.30</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">34天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=de099b43-a840-417e-904a-0aa5b3b604df&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">520专属加息1%-银票宝60543

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="69.21" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">10.30</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">34天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=0161a402-b9c7-40d4-9a1b-e20a9bb20763&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">520专属加息2%-银票宝60545

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="50.09" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">12.20</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">63天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=0e1e7e44-501e-497e-959b-8d13c95759b0&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60536

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="7.00" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">10.40</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">69天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=7474cb57-dd9b-4903-9894-ab27ba1be800&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">520专属加息3%-银票宝60547

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="50.80" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">14.40</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">93天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=ce25a71e-9d33-4708-b46e-8f138ce95c58&amp;_channel=weixin">
        <table class="table1 " cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60531

            </td>
            <td rowspan="2" class="progressTr">
                
                
                  <canvas percent="37.28" class="progress" width="200" height="200"></canvas>
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">11.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">98天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=29c3096c-61e2-4077-bdfb-8117f7e33505&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60541

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">8.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">15天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=acfc9299-bbc9-4942-8e98-60783e00f9b1&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60535

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=1b4fe126-d760-45f8-be5a-1bd3e52e0ab4&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60537

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">8.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">15天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=44326f87-120c-4d39-99ca-f0363d1894ee&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60534

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.30</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">35天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=75336339-1bb9-4b61-96db-fc8d147d9d0c&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60513

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">10.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">67天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=857a4e63-328e-4a4c-b607-104aab96147c&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60518

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">8.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">15天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=3809ee33-ef7e-4cad-8ea2-5d4b7e058007&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60527

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.10</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">29天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=b47062d1-7056-44f2-b42f-37fd757a0d83&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60530

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=ff62978c-4398-4e58-b290-acc73fa66d67&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60528

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.20</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">32天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=d4d03e6f-c70f-4164-881c-d32e409a2d69&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60514

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">11.20</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">83天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=ffce10bb-21ff-46f4-90c2-229458d3b3ee&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60529

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=5a052f7c-47d0-4bda-99b5-56149f8c0337&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60526

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=e137b7d2-b91a-40a9-a98b-815b66e4f9be&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">母亲节加息2%-银票宝60524

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">11.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">69天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=15e0dcaa-0803-41a0-a964-1e054122988b&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">母亲节加息1%-银票宝60521

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">10.40</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">37天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=51611071-ad49-4fc1-ab31-98d13f2d3aaa&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">母情节加息3%-银票宝60525

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">12.30</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">85天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=fca7640b-6741-4ed9-9ef5-bf949da3384b&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60519

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=1633dcd9-7274-420e-a197-39ce79c6a5e0&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">母亲节加息1%-银票宝60522

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">11.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">69天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=2afbaf5b-2413-4c5f-8c70-620dd0bac0df&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60520

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.20</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">33天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=15e9572d-3f70-4958-b71e-b417846e01dd&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60517

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">9.10</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">29天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=f7ac2a61-4f7a-46e7-bc49-a288732cb0da&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">新手宝60515

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">20.00</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">7天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=65f4fdc8-3af1-4fcf-a648-31f21aab7192&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">银票宝60516

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">8.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">15天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
      <a class="a2Detail " href="financial_detail.htm?id=5e00fa5b-f3de-43f4-82c4-4da3639a54c9&amp;_channel=weixin">
        <table class="table1 saleout" cellspacing="0" cellpadding="0">
          <tbody><tr class="tr1">
            <td colspan="2">五一加息3%-银票宝60505

            </td>
            <td rowspan="2" class="progressTr">
                
                  <img alt="" src="img/saleout.png" style="width: 80px;">
                
                
              </td>
          </tr>
          <tr class="tr2">
            <td class="td1">
              <div class="ratesTr">
                <span class="rates">13.50</span>%
              </div>
              <div class="words">预期年化</div>
            </td>
            <td class="td2">
              <div class="periodTr">
                <span class="period">68天</span>
              </div>
              <div class="words">理财期限</div>
            </td>
          </tr>
        </tbody></table>
      </a>
    
  </div>
  <div style="height: 4px; font-size: 0px;"></div>
  


<div id="bottomLayout">
  <a class="btn1" href="home.htm?tab=home&amp;t=Thu Jun 02 00:48:13 CST 2016">
    
    
      <img class="icon" src="img/icon_home_n.png">
      <div class="text" style="color: #888888;">首页</div>
    
  </a>
  <a class="btn1" href="financial_zone.htm?tab=zone&amp;t=Thu Jun 02 00:48:13 CST 2016">
    
      <img class="icon" src="img/icon_licai_a.png">
      <div class="text" style="color: #FF7433">理财专区</div>
    
    
  </a>
  <a class="btn1" href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:48:13 CST 2016" style="float: right;">
    
    
      <img class="icon" src="img/icon_myaccount_n.png">
      <div class="text" style="color: #888888;">我的账户</div>
    
  </a>
</div>

  <script src="financial_zone.js?v=1"></script>
  <script src="activity.js?v=1"></script>

</body></html>
