<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>帮助中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="stylesheet" type="text/css" href="css/mycss.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

<div class="backBar">
    <table>
        <tbody>
            <tr>
               <td style="width:50px;"><a href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:41:35 CST 2016">〈</a></td>
               <td>帮助中心</td>
               <td style="width:50px;"></td>            
            </tr>
        </tbody>
    </table>
</div>

<div class="help_con">
   <h5>1、注册收不到短信验证码怎么办？</h5>
   <p>答：在确认手机号码输入正确后，重新获取手机验证码，进行注册；若长时间收不到验证码，请致电客服电话<a href="tel://4006191520">400-6191-520。</a></p>
   <h5>2、登录时忘记密码怎么办？</h5>
   <p>答：请在【登录页面】点击【忘记密码】，重新获取手机验证码，进行修改。</p>
   <h5>3、定期理财【银票宝】什么时候开始计息（起息）？</h5>
   <p>答：【银票宝】交易规则是T+0，即购买当日计息。</p>
   <h5>4、活期理财【随存宝】什么时候开始计息（起息）？</h5>
   <p>答：【随存宝】交易规则是T+1，即购买的第二天开始计息。</p>
   <h5>5、来存吧提现有手续费吗？</h5>
   <p>答：没有，来存吧交易不收取任何手续费。</p>
   <h5>6、【随存宝】提现申请提交后，几天可以到账？</h5>
   <p>答：在工作日提现：下午3点前申请提现，申请日的下个工作日到账；下午3点后申请提现，申请日后的第二个工作日到账。在非工作日提现：申请日后的第二个工作日到账。</p>
<!--    <h5>7、定期理财【银票宝】怎么提现？多久能到账？</h5> -->
<!--    <p>答：【银票宝】不需要提现，到期后本息自动返还至绑定银行卡，结息日的下个工作日到账。</p> -->
   <h5>7、【银票宝】提现几天可以到账？</h5>
   <p>答：银票宝不需要提现，到期本息自动返还绑定银行卡。工作日到期，当日24:00前到账；非工作日到期，顺延至工作日24:00前到账。</p>
   <h5>8、来存吧可以绑定哪些银行卡？</h5>
   <p>答：来存吧支持15家主要银行的银行卡，包括中国工商银行、中国农业银行、中国银行、中国建设银行、中国邮政储蓄银行、平安银行、民生银行、光大银行、广发银行、中信银行、兴业银行、华夏银行、中国交通银行、招商银行、浦发银行。</p>
   <h5>9、注册手机号码与银行预留手机号码不一致可以购买理财产品吗？</h5>
   <p>答：不可以，为了用户资金安全，来存吧会对注册手机号码、银行预留手机号码、身份证、用户姓名进行四重验证，通过四重安全验证才能进行购买。</p>
</div>

</body></html>
