<html lang="zh-CN" class="js cssanimations"><head>
<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
<meta charset="utf-8">
<script src="//hm.baidu.com/hm.js?c9ae2d80750f75bf824d5d4fa2c8fd5e"></script><script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="old_res/slider.css" type="text/css">
<link type="text/css" rel="stylesheet" href="css/lcb_wx_common.css?201601241">
<script src="old_res/amazeui.min.js"></script>
<script src="js/slider-H5.js"></script>
<link type="text/css" rel="stylesheet" href="activity.css">
<script src="activity.js"></script>
<title>首页</title>
<style type="text/css">
#div1 {
  text-align: center;
}

#table1 {
  width: 100%;
  margin-top: 20px;
}

#table1 td {
  width: 33%;
  text-align: center;
}

#table1 td img{
  vertical-align: text-bottom;
}

.btn-warning {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}

.am-slider-default .am-control-nav {
  bottom: 10px;
}

#btnBuyNow {
  display: inline-block;
  line-height: 40px;
  width: 60%;
  background-color: #ff5a2c;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
</style>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?c9ae2d80750f75bf824d5d4fa2c8fd5e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body style="padding: 0px; margin: 0px;">

  


<div id="bottomLayout">
  <a class="btn1" href="home.htm?tab=home&amp;t=Thu Jun 02 00:47:35 CST 2016">
    
      <img class="icon" src="img/icon_home_a.png">
      <div class="text" style="color: #FF7433">首页</div>
    
    
  </a>
  <a class="btn1" href="financial_zone.htm?tab=zone&amp;t=Thu Jun 02 00:47:35 CST 2016">
    
    
      <img class="icon" src="img/icon_licai_n.png">
      <div class="text" style="color: #888888;">理财专区</div>
    
  </a>
  <a class="btn1" href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:47:35 CST 2016" style="float: right;">
    
    
      <img class="icon" src="img/icon_myaccount_n.png">
      <div class="text" style="color: #888888;">我的账户</div>
    
  </a>
</div>

  <div class="am-slider am-slider-default am-slider-a1" data-am-slider="{directionNav:false}" data-am-flexslider="" id="demo-slider-0" style="box-shadow: none;">
    
  <div class="am-viewport" style="overflow: hidden; position: relative;"><ul class="am-slides" style="width: 1000%; -webkit-transition: 0.6s; transition: 0.6s; transform: translate3d(-2666px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 1333px; float: left; display: block;"><a href="http://test.laicunba.com/h5/security_guarantee.htm"><img src="http://pic.laicunba.com/up/2.png" draggable="false"></a></li>
      
        
          
            <li style="width: 1333px; float: left; display: block;" class=""><a href="http://test.laicunba.com/h5/activity/group_active.htm"><img src="http://laicunba.b0.upaiyun.com/lcb/group_banner.png" draggable="false"></a></li>
          
            <li style="width: 1333px; float: left; display: block;" class="am-active-slide"><a href="http://test.laicunba.com/h5/invite_info.htm"><img src="http://laicunba.b0.upaiyun.com/lcb/invite_banner.png" draggable="false"></a></li>
          
            <li style="width: 1333px; float: left; display: block;"><a href="http://test.laicunba.com/h5/security_guarantee.htm"><img src="http://pic.laicunba.com/up/2.png" draggable="false"></a></li>
          
        
        
      
    <li style="width: 1333px; float: left; display: block;" class="clone" aria-hidden="true"><a href="http://test.laicunba.com/h5/activity/group_active.htm"><img src="http://laicunba.b0.upaiyun.com/lcb/group_banner.png" draggable="false"></a></li></ul></div><ol class="am-control-nav am-control-paging"><li><a class="">1</a><i></i></li><li><a class="am-active">2</a><i></i></li><li><a>3</a><i></i></li></ol><ul class="am-direction-nav"><li class="am-nav-prev"><a class="am-prev" href="#"> </a></li><li class="am-nav-next"><a class="am-next" href="#"> </a></li></ul></div>

  
    <div id="div1" style="margin-top: 20px;">
      <div style="line-height: 30px;font-size:22px;margin-bottom:5px;">520专属加息2%-银票宝60545</div>
      <div style="background: url('img/circle31.png') no-repeat 50% 0px; width: 300px; margin: 0px auto;">
        <br>
        <div style="line-height: 30px;font-size:18px;">理财期限 <span style="color:#ff5a2c;">63</span> 天</div>
        <div style="line-height: 60px; font-size: 50px; color: #ff6005;margin-top:25px;"> 12.20%</div>
        <div style="width: 60%; color:#feb381; margin: 0px auto; margin-bottom: 10px; font-size: 28px; overflow: hidden; margin-top:-10px;">..............................</div>
        <div style="line-height: 40px; font-size: 18px;">预计年化收益</div>
      </div>
      <table id="table1" style="margin-bottom:20px;">
        <tbody><tr>
          <td>
            <img src="img/benxi.png" style="height: 20px;">
            <span style="padding-left:5px; color:#888;">本息保障</span>
          </td>
          <td>
            <img src="img/zdfk.png" style="height: 25px;">
            <span style="padding-left:2px; color:#888;">自动返款</span>
          </td>
          <td>
            <img src="img/cnhg.png" style="height: 25px;">
            <span style="padding-left:2px; color:#888;">承诺回购</span>
          </td>
        </tr>
      </tbody></table>
      <a id="btnBuyNow" href="financial_detail.htm?id=0161a402-b9c7-40d4-9a1b-e20a9bb20763">1000.00元起购</a>
      <div style="text-align: center; margin-top: 20px; margin-bottom: 10px; color: #188FFF">
        <img src="img/safe.png" style="height: 18px; margin-right: 10px;">郑州银行天明路支行到期兑付
      </div>
      <div style="height: 60px;"></div>
    </div>
   
  <script type="text/javascript">
  $(function(){
     $("html,body").animate({scrollTop: 100}, 100);  
  });
  
  </script>

</body></html>
