<meta content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
<meta charset="utf-8">
<title>我的红包</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/lcb_wx_common.css?201602291">
<style type="text/css">
.package {
  height: 80px;
  background-color: #CC0000;
  width: 90%;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}

.package table {
  width: 100%;
  height: 100%;
}

.package td {
  color: white;
  font-family: "微软雅黑";
}

.package .name {
  
}

.package .amount {
  font-size: 20px;
}

body {
  background-color: #eee;
}

.package img {
  height: 40px;
}
.used,.expired{

  background-color: #ccc;
}
.used td{
  background-color: #ccc;
}
</style>
</head>
<body>
  
    <div class="backBar">
      <table>
        <tbody><tr>
          <td style="width: 50px;"><a href="my_account.htm?tab=account&amp;t=Thu Jun 02 00:28:31 CST 2016">〈</a></td>
          <td>红包</td>
          <td style="width: 50px;"></td>
        </tr>
      </tbody></table>
    </div>
   
  
    <div class="package   expired"> 
      <table>
        <tbody><tr>

          <td style="width: 50px; text-align: center;"><img src="img/hb_icon.png"></td>
          <td>
            <div class="name">五一专享-60天2000元以上使用</div>
            <div class="amount">10.00元</div>
          </td>
          <td style="background-color: #eee; width: 90px; text-align: center; color: #000">
               
              已过期<br>
                2016-05-30
               
              
            </td>
            
        </tr>
      </tbody></table>
    </div>
  
    <div class="package  "> 
      <table>
        <tbody><tr>

          <td style="width: 50px; text-align: center;"><img src="img/hb_icon.png"></td>
          <td>
            <div class="name">发财红包-30天以上使用</div>
            <div class="amount">8.80元</div>
          </td>
          <td style="background-color: #eee; width: 90px; text-align: center; color: #000">
               
               
              未使用 <br>
                2016-06-16
                (有效期)
              
            </td>
            
        </tr>
      </tbody></table>
    </div>
  
  
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(function() {

    });
  </script>

</body></html>
